{% extends "admin/base_admin.html.twig"%}



{% block body %}
    <h1>Modifier le lot</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" class="modif"/>
    {{ form_end(edit_form) }}


    {{ form_start(delete_form) }}
    <br><input type="submit" value="Supprimer" class="supp">
    {{ form_end(delete_form) }}

    <br><a href="{{ path('lot_new') }}">Liste des lots</a>
{% endblock %}
