{% extends "admin/base_admin.html.twig"%}
{% block body %}
    <h1>Lots</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Surface</th>
                <th>Etage</th>
                <th>Photo</th>
                <th>Immeuble</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lot in lots %}
            <tr>
                <td><a href="{{ path('lot_show', { 'id': lot.id }) }}">{{ lot.id }}</a></td>
                <td>{{ lot.numero }}</td>
                <td>{{ lot.surface }}</td>
                <td>{{ lot.etage }}</td>
                <td>{{ lot.photo }}</td>
                <td>{{ lot.appartement}}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lot_show', { 'id': lot.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lot_edit', { 'id': lot.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
