{% extends "admin/base_admin.html.twig"%}
{% block body %}
    <h1>Pièces </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Surface</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for piece in pieces %}
            <tr>
                <td><a href="{{ path('piece_show', { 'id': piece.id }) }}">{{ piece.id }}</a></td>
                <td>{{ piece.nom }}</td>
                <td>{{ piece.surface }}</td>
                <td>{{ piece.photo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('piece_show', { 'id': piece.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('piece_edit', { 'id': piece.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
