{% extends "admin/base_admin.html.twig"%}
{% block body %}
<h1>Description pièce</h1>
<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Surface</th>
                <th>Photo</th>

            </tr>
            <tr>
                <td>{{ piece.id }}</td>
                <td>{{ piece.nom }}</td>
                <td>{{ piece.surface }} m2</td>
                <td><a href="#myModal" role="button" ><img src="/images/pieces/{{ piece.photo }}" width="100" height="auto"></a></td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('piece_new') }}">Liste des pièces</a>
        </li>
        <li>
            <a href="{{ path('piece_edit', { 'id': piece.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="supp">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}