{% extends "admin/base_admin.html.twig"%}
{% block body %}
    <h1>Prestataire</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestataire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ prestataire.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ prestataire.adresse }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ prestataire.tel }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ prestataire.mail }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('prestataire_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('prestataire_edit', { 'id': prestataire.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
