{% extends "admin/base_admin.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/main_admin.css') }}">
{% endblock %}

{% block body %}


    <h5 class="hello">Bonjour {{ app.user.firstname }} {{ app.user.lastname }} </h5>

    <div class="container">
        <div class="row" style="display: flex;">

                {% if is_granted ('ROLE_SALARIE') %}
                <div class="card">
                    <h2>Inscription Membres</h2>
                    <li><a href="/register">Enregister un nouveau membre</a></li>
                </div>

                {% endif %}



                {% if is_granted ('ROLE_ADMIN') %}

                <div class="card">
                    <h2>Nouvelle création</h2>
                    <li><a href="/copro/new">Inscription nouvelle copropriété</a></li>
                    <li><a href="/syndic/new">Inscription nouveau syndicat</a></li>
                    <li><a href="/associationcopro/new">Inscription nouvelle association de copropriété</a></li>
                </div>
                <div class="card">
                    <h2>Listes</h2>
                    <li><a href="{{ path('copro_index') }}">Liste des copropriétés</a></li>
                    <li><a href="{{ path('syndic_index') }}">Liste des syndicats</a></li>
                    <li><a href="{{ path('associationcopro_index') }}">Liste des association de copropriétés</a></li>
                    <li><a href="{{ path('user_index') }}">Liste des Membres</a></li>

                </div>
                {% elseif is_granted (['ROLE_GESTION','ROLE_SALARIE']) %}
                    <div class="card">
                        <h2>Consultation Membres</h2>
                        <li><a href="{{ path('user_listing') }}">Consultation des Membres</a></li>
                    </div>
                {% endif %}




            </div>




    <div class="row" style="display: flex;">
    {% if is_granted ('ROLE_ADMIN') %}
        <div class="card">
        <h2>Inscription Immo</h2>
            <li><a href="{{ path('immeuble_new') }}">Création d'un Immeuble</a></li>
            <li><a href="{{ path('lot_new') }}">Création d'un lot</a></li>
            <li><a href="{{ path('piece_new') }}">Création d'une pièce</a></li>
        </div>
    {% elseif is_granted (['ROLE_GESTION','ROLE_SALARIE']) %}
        <div class="card ">
            <h2>Consultation Immo</h2>
            <li><a href="{{ path('user_consultation') }}">Consultation Immobilière</a></li>

        </div>
    {% endif %}

    </div>

    {% if is_granted (['ROLE_ADMIN']) %}
    <div class="row" style="display: flex;">
            <div class="card">
                <h2>Déclarer un Compteur</h2>
                <li><a href="{{ path('fournisseurcompteur_new') }}">Déclarer un nouveau fournisseur</a></li>
                <li><a href="{{ path('compteur_new') }}">Déclarer un nouveau modèle de compteur</a></li>
                <li><a href="/compteur/installation">Déclarer l'installation d'un compteur</a></li>
            </div>
            <div class="card">
                <h2>Consultation des Compteurs</h2>
                <li><a href="{{ path('fournisseurcompteur_index') }}">Liste des fournisseurs de compteurs</a></li>
                <li><a href="{{ path('fournisseurcompteur_index') }}">Liste des modèles de compteurs</a></li>
                <li><a href="{{ path('fournisseurcompteur_index') }}">Liste des compteurs installés</a></li>
            </div>
    </div>
{% elseif is_granted(['ROLE_GESTION','ROLE_SALARIE']) %}

        {% elseif is_granted('ROLE_TECHNICIEN') %}
            <div class="row" style="display: flex;">
            <div class="card">
                <h2>Déclarer un Compteur</h2>
                <li><a href="{{ path('fournisseurcompteur_new') }}">Déclarer un nouveau fournisseur</a></li>
                <li><a href="{{ path('compteur_new') }}">Déclarer un nouveau modèle de compteur</a></li>
                <li><a href="/compteur/installation">Déclarer l'installation d'un compteur</a></li>
            </div>
            <div class="card">
                <h2>Consultation des Compteurs</h2>
                <li><a href="{{ path('fournisseurcompteur_index') }}">Liste des fournisseurs de compteurs</a></li>
                <li><a href="{{ path('fournisseurcompteur_index') }}">Liste des modèles de compteurs</a></li>
                <li><a href="{{ path('fournisseurcompteur_index') }}">Liste des compteurs installés</a></li>
            </div>
            </div>
        {% endif %}


    <div class="row" style="display: flex;">
        <div class="card">
            <h2>Consommations</h2>
            {% if is_granted ('ROLE_GESTION') %}
                <li>Consomations de la Co-Propriété</li>
            {% endif %}
            {% if is_granted ('ROLE_SALARIE') %}
                <li>Consomations de l'Immeuble</li>
            {% endif %}
            {% if is_granted ('ROLE_USER') %}
                <li>Consomations Lot/Appartement</li>
                <li>Consomations par pièce</li>
            {% endif %}

        </div>
    </div>


    </div>

    </div>
{% endblock %}