{# src/Acme/SecurityBundle/Resources/views/Security/login.html.twig #}
{% extends "base.html.twig" %}

    {% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/login.css') }}">
{% endblock %}
    {% block fos_user_content %}

    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div id="login-marge" class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="login-brand">
                            Caldex
                        </div>

                        <div id="loginPage" class="card card-primary">
                            <div class="card-header"><h4>Login</h4></div>

                            <div class="card-body">
                                <form action="{{ path("fos_user_security_check") }}" method="post" class="needs-validation">
                                    {% if error %}
                                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
                                        <div class="form-group">
                                            <label for="username">Votre adresse mail</label>
                                            <input type="text" id="usernameLogin" name="_username" value="{{ last_username }}" class="form-control" required="required" />
                                        </div>

                                        <div class="form-group">
                                            <label for="password" class="d-block">Mot de passe
                                                <div class="float-right">
                                                    <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
                                                </div>
                                            </label>
                                            <input type="password" id="password" name="_password" required="required" class="form-control" />
                                        </div>
                                        <div class="form-group" >
                                            <input type="checkbox" id="remember_me" name="_remember_me" checked />
                                            <label for="remember_me">Se souvenir de moi</label>
                                        </div>

                                        <div class="form-group">

                                            <button type="submit" class="login login-submit btn btn-primary" id="_submit" name="_submit" value="Se connecter">Se Connecter</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% endblock fos_user_content %}