{% extends "admin/base_admin.html.twig"%}

{% block body %}
    <h1>Fournisseur</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ fournisseurCompteur.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ fournisseurCompteur.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ fournisseurCompteur.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ fournisseurCompteur.ville }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fournisseurcompteur_index') }}">Liste des fournisseurs</a>
        </li>
        <li>
            <a href="{{ path('fournisseurcompteur_edit', { 'id': fournisseurCompteur.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="supp">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
