{% extends "admin/base_admin.html.twig"%}

{% block body %}
    <h1>Syndic</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ syndic.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ syndic.nom }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ syndic.adresse }}</td>
        </tr>
        <tr>
            <th>Codepostal</th>
            <td>{{ syndic.codePostal }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ syndic.ville }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <h1>Piece</h1>
{% for room in rooms %}
    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ room.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ room.nom }}</td>
        </tr>
        <tr>
            <th>Surface</th>
            <td>{{ room.surface }}</td>
        </tr>

        <tr>
            <th>Photo</th>
            <td>{{ room.photo }}</td>
        </tr>

        
        </tbody>
    </table>


{% endfor %}

{% endblock %}
